*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
}

body{
    background-color: black;
}
header{
    height: 10vh;
    justify-content: flex-end;
    padding: 10px;
}

main{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
}

footer{
    height: 10vh;
    background-color: rgb(29, 29, 29);
}

.head-icon > *{
    color: white; 
    margin: 5px;  
}

.head-icon{
    height: 40px; 
    border-radius: 40px;
    text-align: center;
}

.bk-grey{
    background-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
}

.fas{
    color: white;
}

.user-container{
    width: 300px;
    height: 200px;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: flex-start;
}

.user-container i{
    
    font-size: 1.5em;
}
.name-box{
    background-color: rgb(133, 132, 132);
    opacity: 0.5;
    height: 25px;
    width: 110px;
    
}

.user-container h4{
    color: white;
    font-size: 1.5;
    padding: .2em;
}

#name-tag{
    z-index: 1;
    position: absolute;
}
